.container{
  margin: 50% 50px;
}

h1 {
    text-decoration: underline;
  }
  
  p {
    color: #40882a;
  }
  
  .voiture {
    width: 250px;
    height: 100px;
    background: red;
    position: relative;
    border-radius: 30px; 
  }